body{
	font-family: Tiemposheadline,Hevelitca-light;
	font-size: 15px;
	line-height:1.5;
	padding:0;
	margin:0;
	background-color:#f4f4f4;
}

 ul{
	margin:0;
	padding:0;
}

.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}

header{
	/* background:#35424a; */
	/* color:white; */
	position: fixed;
	left:0;
	position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 999;
    display: block;
    width: 100%;
    max-width: 1920px;
    padding-right: 100px;
    padding-left: 100px;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: left;
    background-color: hsla(0,0%,100%,.95);
	min-height:70px;
	border-bottom:#e8491d 3px solid;
}

header a {
	/* color:#ffffff; */
	
	text-decoration: none;
	text-transform: uppercase;
	font-size:16px;
}


header li{
	
	float:left;
	display:inline;
	padding: 15px 10px 0 10px;
}

header #branding {
	
	float:left;
}

header #branding h1{
	
	margin :0;
}

header nav{

	float:right;
}

header .highlight , header .current a{
   color: #e8491d;
   font-weight:bold;
}

header a:hover{
	color: #cccccc;
	font-weight:bold;
}

#parasection{
	font-family: Tiemposheadline,sans-serif;
	text-align:left;
	/* color: black; */
	/* font-weight: 900; */
	font-size: 16px;
}

#showcase{
	min-height:400px;
	text-align:center;
	font-weight: 900;
	
	margin-top:70px;
}

#showcase h1{
    
	top: 50%;
    left: 50%;
    transform: translate(-0%,-560%);
    color:#330000;
    /* top: 28px; */
    font-family: Tiemposheadline,sans-serif;
    font-size: 20px;
    font-weight: 700;
    /* margin-bottom: 10px; */
	margin-bottom:10px;
	text-transform: uppercase;
}

#showcase p {
	font-family: Tiemposheadline,sans-serif;
    font-size: 16px;
    color: black;
    font-weight: 1000;
    top: 30%;
    left: 30%;
    transform: translate(-0%,-80%);
    text-align:left;
    }

#boxes{
	margin-top:20px;
	font-family: Tiemposheadline,sans-serif;
}

#boxes .box{
	float:left;
	text-align:center;
	font-size: 16px;
	width:30%;
	padding: 10px;
}

#boxes .box img{
	width:90px;
}




footer{
	padding:20px;
	color:white;
	margin-top:20px;
	text-align:center;
	background-color: #e8491d ;
}












